body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/012/508/651/non_2x/young-people-raising-hand-to-ask-question-at-team-training-curious-black-employee-or-conference-seminar-participant-vote-as-volunteer-at-group-office-meeting-with-multiracial-diverse-businesspeople-free-photo.jpg');
}

.container h1 {

    color: white;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

